{{#unless userName}}
  <button
    type="button"
    class="btn btn-warning btn-login me-2"
    data-bs-toggle="modal"
    data-bs-target="#loginModal"
  >登入</button>

  <div
    class="modal fade"
    id="loginModal"
    tabindex="-1"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">登入</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="/login" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">使用者名稱</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="輸入使用者名稱"
                name="name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">密碼</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="輸入密碼"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">登入</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-warning btn-login"
    data-bs-toggle="modal"
    data-bs-target="#signUpModal"
  >註冊</button>

  <div
    class="modal fade"
    id="signUpModal"
    tabindex="-1"
    aria-labelledby="signUpModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signUpModalLabel">註冊</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="/signup" method="post">
            <div class="mb-3">
              <label for="username2" class="form-label">使用者名稱</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="username2"
                placeholder="輸入使用者名稱"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password2" class="form-label">密碼</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password2"
                placeholder="輸入密碼"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">註冊</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/unless}}
{{#if userName}}
  <a href="/logout" class="btn btn-warning d-none d-lg-block btn-login">登出</a>
{{/if}}