<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="/test">
        <img src="/images/logo-kconline.png" alt="logo" />
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      {{#if isIndex}}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">學生管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">進入課程</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">成效分析</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">教師派卷 </a>
        </li>
      </ul>
      {{/if}}
    </div>
    <div id="user-name">{{userName}}</div>
    {{> login}}
  </div>
</nav>