<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="logo" />
    </a>
    {{#if userName}}
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/pretest/create">分級測驗</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gepttest/listening/start">聽力測驗</a>
          </li>
          <a href="/logout" class="btn btn-warning d-lg-none">登出</a>
        </ul>
      </div>
    {{/if}}
    <div class="d-flex align-items-center">
      <p id="user-name" class="d-none d-lg-block">{{userName}}</p> 
      {{> login}}
    </div>
  </div>
</nav>