{{> navbar}}

<section>
  <div class="container">
    <form class="w-50" action="/user/confirm" method="post">
      <div class="mb-3">
        <label for="inputChineseName" class="form-label">中文姓名</label>
        <input
          type="text"
          class="form-control"
          id="inputChineseName"
          name="name"
          placeholder="Chinese Name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="inputEnglishName" class="form-label">英文姓名</label>
        <input
          type="text"
          class="form-control"
          id="inputEnglishName"
          name="nameEng"
          placeholder="English Name"
          required
        />
      </div>
      <div class="mb-3 w-50">
        <label for="inputAddress" class="form-label">檢測地址</label>
        <div id="twzipcode"></div>
      </div>
      <button type="submit" class="btn btn-primary">確認</button>
    </form>
  </div>
</section>


<script>
$("#twzipcode").twzipcode({
css: ["city form-select mb-2", "town form-select"],
countyName: "city", 
districtName: "area" ,

});
</script>