{{> navbar}}

<section>
  {{> message}}
  <div class="background-image">
    <a href="/test/create"><img
        class="w-100"
        src="/images/welcome-GEPT-PC.png"
        alt=""
      /></a>
  </div>
</section>