{{> navbar}}

<section>
  {{> message}}
  <div class="background-image">
    <a href="/pretest/create"><img
        class="w-100"
        src="/images/welcome-GEPT-mobil.png"
        alt=""
      /></a>
  </div>
</section>