{{> navbar}}
<h1>聽力能力檢測</h1>
<table class="table w-25">
  <thead>
    <tr>
      <th>個人資料</th>    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>姓名</th>
      <td>Mark</td>     
    </tr>
    <tr>
      <th>地址</th>
      <td>高雄</td>     
    </tr>
  </tbody>
</table>