{{> navbar}}

<div class="container">
  {{!-- 計時器 --}}
  <div>
    <span class="fs-5 fw-bolder mt-3">
      <i class="fa-solid fa-stopwatch"></i>
      測驗時間
    </span>
    <span id="countdown" class="fs-5">
    </span>
  </div>

  {{!-- 試題區 --}}
  <div class="mt-3">
    <div class="question-number">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          
          {{# each listeningData}}
          <li class="page-item"><a class="page-link" onclick="showContent({{jsonStringify this}})">{{this.sort}}</a></li>
          {{/each}}          
        
        </ul>
      </nav>
    </div>
    
    <div class="d-flex">
      <div class="topic w-50">
        {{!-- render topic        --}}
      </div>
      <div class="answer w-50">
        {{!-- render answer        --}}
      </div>
    </div>
  </div>
</div>

<script>
  function showContent(data) {
    const topic = document.querySelector(".topic")
    const answer = document.querySelector(".answer")
    topic.innerHTML = `<p>${data.type} </p>`
    
    if (data.imgPath !== "") {
      topic.innerHTML += `<img class="w-100" src="/Listening/imagesEng/${data.imgPath}.jpg" alt="">`
    }
    
    answer.innerHTML = `<p>Question ${data.sort}</p>
        <audio controls>
          <source src="/Listening/voice/Round${data.GEPTround}/${data.voicePath}.mp3" type="audio/mp3">
          Your browser does not support the audio tag.
        </audio>`

    if (["看圖辨義", "短文聽解"].includes(data.type)) {
      answer.innerHTML += `<div class="options-container">         
          <button class="btn btn-outline-primary option">A</button>
          <button class="btn btn-outline-primary option">B</button>
          <button class="btn btn-outline-primary option">C</button>
        </div>`
    } else {
      answer.innerHTML += `<div class="options-container">         
          <button class="btn btn-outline-primary option">${data.ans1}</button>
          <button class="btn btn-outline-primary option">${data.ans2}</button>
          <button class="btn btn-outline-primary option">${data.ans3}</button>
        </div>`
    }

  }
</script>