{{> navbar}}

<section>
  <div class="container-fluid">
    {{!-- 計時器 --}}
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-between align-items-center">
        <span class="fs-5 fw-bolder me-2">
        <i class="fa-solid fa-stopwatch"></i>
        測驗時間
        </span>
        <span id="countdown" class="fs-5">
        </span>
      </div>
      <div class="d-flex align-items-center">
        <form action="/test/listening/report" method="post" class="d-flex h-100">
        <input type="text" id="myAns" name="myAns" value="" hidden>
        <input type="text" id="level" name="level" value="" hidden>
        <button class="btn btn-outline-primary btn-handout">交卷</button>
        </form>

        <a href="/test/listening/start"><button class="btn btn-outline-secondary ms-2">離開</button></a>
      </div>
    </div>

    <div class="mt-1 render-list">
      <div>
        {{!-- 進度條 --}}
        <div class="d-flex">
          <div class="progress progress1">
            <div class="progress-bar bar1 bg-info" role="progressbar" style="width: 40%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5">2</div>
          </div>
          <div class="progress progress2">
            <div class="progress-bar bar2 bg-success" role="progressbar" style="width: 30%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="10">3</div>
          </div>
          <div class="progress progress3">
            <div class="progress-bar bar3 bg-warning" role="progressbar" style="width: 50%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="10">5</div>
          </div>
          <div class="progress progress4">
            <div class="progress-bar bar4 bg-danger" role="progressbar" style="width: 60%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5">3</div>
          </div>
        </div>

        {{!-- 題碼 --}}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            
            {{# each data}}
            <li class="page-item"><a class="page-link btn" onclick="showContent({{jsonStringify this}})">{{this.sort}}</a></li>
            {{/each}}          
          
          </ul>
        </nav>
      </div>

      {{!-- 試題區 --}}
      <div class="test">
        <div class="topic w-50 p-2">
          {{!-- render topic        --}}
        </div>
        <div class="answer w-50 p-2">
          {{!-- render answer        --}}
        </div>
      </div>
    </div>
  </div>
</section>
