{{> navbar}}

<section>
  <div class="container-fluid mt-2">
    <div class="mt-1 render-list">
      <div class="pretest p-2">
        {{!-- showPretestContent --}}
      </div>
    </div>
  </div>
</section>

<script>
  let questionData ={{{jsonStringify data}}}
  let level = {{{round}}}
  let currentIndex = 1
  let winTimes = 0
  let loseTimes = 0
  window.history.forward(1)
</script>