{{> navbar}}

<section>
  {{>message}}
  <div class="container text-center">
    <p class="fs-5 fw-bolder"><i class="fa-solid fa-stopwatch"></i>
      測驗時間: 20分鐘</p>

    <a href="/gepttest/listening/new" class="btn btn-success btn-lg"><i class="fa-solid fa-headphones"></i>
        開始聽力檢測</a>
  </div>
</section>