{{> navbar}}

<section>
  {{>message}}
  <div class="container text-center">
    <a href="/pretest/new/{{round}}" class="btn btn-success btn-lg"><i class="fa-solid fa-headphones"></i>開始檢測</a>
  </div>
</section>