{{> navbar}}

<section>
  <div class="container">
    <p class="fs-5 fw-bolder mt-3"><i class="fa-solid fa-stopwatch"></i>
      測驗時間: 20分鐘</p>

    <a href="/test/listening/new"><button
        class="btn btn-success btn-lg position-absolute top-50 start-50 translate-middle"
      ><i class="fa-solid fa-headphones"></i>
        開始聽力檢測</button></a>
  </div>
</section>