/* 共通樣式 */
body {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  margin: 0 auto;
}

hr {
  margin: 2.5rem;
}

.navbar {
  background-color: #bee9ea;
}

.navbar-brand img {
  width: 20vw;
  min-width: 200px;
  max-height: 80px;
}

.nav-link {
  font-size: 1.5rem;
}

.navbar-toggler {
  position: absolute;
  right: 10px;
  top: 30px;
}

#user-name {
  flex: 1 1 72px;
  margin: 0 20px;
  font-size: 1.2rem;
}

.modal-dialog {
  z-index: 1051;
}

.container {
  width: 90%;
  margin: 3rem auto;
}

.alert {
  z-index: 2;
  text-align: center;
  font-size: 1.5rem;
}

.btn {
  min-width: 60px;
}
select,
input {
  min-width: 130px;
}

/* create-test-page */
#twzipcode [name="zipcode"] {
  display: none;
}

/* index-page */
.background-image {
  margin: 0 auto;
  text-align: center;
}

/* new-listening-page */
.overflow {
  overflow: auto;
}

.progress {
  font-size: 20px;
  height: 20px;
}

.progress1,
.progress4 {
  flex: 0 0 300px;
}

.progress2,
.progress3 {
  flex: 0 0 600px;
}

.page-item {
  min-width: 60px;
}

.active {
  z-index: 1;
}

.answer {
  width: 100%;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.option {
  max-width: 600px;
  margin: 12px 0;
  border: 3px solid #f8ca45;
  font-size: 1em;
}

.option:hover {
  border: 3px solid steelblue;
}

.next-question {
  max-width: 600px;
  border: 1px solid black;
}

.chosen-color {
  background-color: yellowgreen;
  font-weight: bolder;
  color: black;
}

.test {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

.test p {
  padding: 1rem;
}

.img-topic {
  text-align: center;
}

.img-topic img {
  max-width: 100%;
  max-height: 670px;
}

.btn-handout {
  margin-top: auto;
}

li {
  flex: 1;
  text-align: center;
}

/* listening-report */
table {
  max-width: 800px;
}

th {
  width: 200px;
}

.test-report {
  padding: 0 2rem;
}

.test-report h3 {
  text-align: center;
  color: coral;
  font-weight: 600;
}

.test-report h4 {
  margin-bottom: 1.5rem;
}

.red-line {
  color: crimson;
  font-weight: 600;
}

.chart-container {
  max-width: 600px;
  height: 375px;
}

/* create pretest */
.accordion .btn {
  display: flex;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-decoration: none;
}

.list-group-item a {
  text-decoration: none;
  color: #212529;
}

/* new pretest page */
.pretest h3 {
  font-weight: bold;
}

/* media */
@media (min-width: 760px) {
  html {
    font-size: 24px;
  }

  .background-image img {
    content: url("/images/index-pc.png");
  }

  .topic,
  .answer {
    width: 50%;
  }

  .pretest .options-container {
    justify-content: center;
  }

  .btn-login {
    min-width: 87px;
  }
}
